/* Tabs
------------------*/
.tab {
  display: none;
  &.active {
    display: block;
  }
}

/* Some Style
------------------*/
$tabControlOffsetTop: 5px;
$tabControlOffsetRight: 30px;
$tabControlWidth: 25px;
$tabControlHeight: 25px;
$tabOffsetTop: 30px;

.tabs {
  padding-top: $tabOffsetTop;
}

.tab-controls {
  position: absolute;
  top: $tabControlOffsetTop;
  right: $tabControlOffsetRight;
  ul, li {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tab-control {
  float: right;
  display: block;
  background-color: #000;
  margin-right: 5px;
  a {
    display: block;
    text-align: center;
    width: $tabControlWidth;
    height: $tabControlHeight;
    line-height: $tabControlHeight;
    &.active {
      background-color: #fff;
    }
  }
}